<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
  <test name="AccountCreateTest">
    <classes>
      <class name="tests.AmazonCreateAccounTest"/>
    </classes>
  </test> <!-- AccountCreateTest -->
  
  <test name="Account">
    <classes>
      <class name="tests.SearchFunctionTest"/>
    </classes>
  </test> <!-- AccountCreateTest -->
 
</suite> <!-- DemoSuite -->
